{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class = "container" >
    <div class="box">

        {% comment %} ===========To send message============== {% endcomment %}

        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" {% endif %}>
        {{ message }}
         <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
        </div>
         {% endfor %}

         {% comment %} ==========================form====================== {% endcomment %} 

        <form action="" method="POST">
            <h2 style="padding-top:20px;">Contact Me</h2>
            <div class="input-group">
            {% csrf_token %}
      {% for fm in form  %}
      {{ fm }}
      {% endfor %}
           <button type="submit" class="btn-contact rounded-pill btn btn-primary">Send Message</button>
          </div>
        </form>
    </div>

    
    <div class="box">

<!--Google map-->
        <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 330px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906698.890325027!2d85.03179899999996!3d27.41340100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995a81c2b1a91e5%3A0x70f0480375a1105a!2sDamauli%2C%20Byas%2033900%2C%20Nepal!5e0!3m2!1sen!2sus!4v1647669380754!5m2!1sen!2sus" width="800" height="300" style="border:1;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="social-media">
            <a href="mailto:tlsujank.co@gmail.com" class="gmail" target="_blank"><span class="social-icon"><i class="fa-solid fa-envelope-circle-check"></i></span>tlsujank.co@gmail.com</a>
            <a href="https://www.linkedin.com/in/sujan-kumar-shrestha-a2532b128/" class="linkedin" target="_blank"><span class="social-icon"><i class="fa-brands fa-linkedin"></i></span>LinkedIn</a><br>
           
                <a href="https://github.com/iamsujanstha/" class="github"  target="_blank"><span class="social-icon"><i class="fa-brands fa-github"></i></span>GitHub</a>
            </div>
            

        </div>
        
    </div>
    
        </div>


{% endblock%}

