*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    color: #45455C;
    max-width: 100%;

}
body{
    width: 100%;
    height: 100%;
    
 
}
.brand-head{
    font-weight: 700;
   
}
.brand-title{
    font-weight: 700;
    color: rgba(42, 42, 255, 0.89);
   
}

a:hover{
    color: rgb(74, 74, 236);
}


/* =======================================Google Map============================================== */
.map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

/* =====================================Navbar============================= */
/* 
li.nav-li{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 8px 10px;
}


.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #45455C;
} */




/* ========================================Contact============================================= */

.container{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
 
}
.container:after{
    content: '';
    display: table;
    clear: both;
}

.container:after{
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width: 1800px){
    .box{
        width: 100%;
        display: inline;
        margin-bottom: 20px;
    } 
}
.box{
    flex: 50%;
    float: left;
    margin-top: 40px;
    padding-left: 20px;
}
form{

    width: 100%;
    padding: 20px 50px;
    box-shadow: 0 0 5px 0 #d1d1d1;
    border-radius: 5px;
    height: 550px;
}
.input-group{
    margin-bottom: 300px;
    margin-top: 20px;
   

}

.btn-contact{
    margin-top: 15px;
    text-align: center;
} 

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    margin-top: 10px;
    border: 1px solid blue;
    color: #000;
    font-size: 15px;
    border-radius: 0.5rem;
}
textarea{
    height: 200px;
} 
.social-media{
    display: flex;
    margin-left: 20px;
}


.gmail{
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    
    font-weight: 400;
}

.github{
   
    font-size: 20px;
    
   
}
.social-icon{
    font-size: 36px;
    
}

.linkedin{
    font-size: 20px;
}



/*  

===================================About======================================== */

.about{
    display: flex;
    margin-left: 120px;
    margin-top: 80px;
}

.left{
    float: left;
    flex: 50%;
}

.about-title{
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right{
    flex: 50%;
    float:left;
    padding: 90px;
}
.gif{
   
    width: 450px;
    height: 330px;
}
i{
    color: blue;
    padding-right: 5px;
}
.description{
    margin-bottom: 25px;
}

.social{
    margin-top: 20px;
    padding-left: 150px;
}


a{
    text-decoration: none;
    color: #333232;
    margin-left: 10px;
    font-size: 16px;
}


  .nav-link:hover{
    border-bottom: 3px solid #ff4b4c;
    color: #ff4b4c;
  }

/* =========================================Portfolio======================================== */

.cards {
    margin: 0 auto;
    max-width: 100%;
    margin:80px 100px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 60px;
    font-family: sans-serif;
    padding-top: 30px;
}

.card{
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #bdbdbd;
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 220px;
    object-fit: fill;
    display: block;

}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;

}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.card-title{
    color: rgb(71, 71, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.9em;
    
}
 .keywords span {
    background: rgb(189, 188, 188);
    border-radius: 3px;
    color: #4b4b6e;
    float: left;
    font-size: 12px;
    margin: 0 10px 10px 0;
    padding: 2px 10px;
}
.keywords{
    margin-top: 10px;
}

.learned-skill{
    margin-bottom: 0.7em;
}

.navbar-nav{
    list-style: none;
}
/* ===================================HOME=================================== */ 

.content{
    margin: 80px;
    margin-left: 100px;
}
.img-content{
    margin-top: 80px;
}

.img-skill{
    margin-bottom: 30px;
    margin-right: 20px;
    width: 110px;
    height: 90px;
}
.content-title{
    margin-bottom: 0px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-subtitle{
    margin-bottom: 20px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.content-desc{
    margin-bottom: 20px;
}



@media only screen and (max-width:900px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
 .content{
     margin: 10px 20px 10px 20px;
 }
 div.img-content{
     margin: 20px 30px;
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
 }
 /* .col-xs-10 .col-sm-4{
     display: flex;
 } */
 .img-skill{
     width: 70px;
     height: 50px;
 }
 p.content-desc{
     text-align: justify;

 }
 div.about{
     margin: 0 20px;
     display: flex;
     flex-wrap: wrap;
 }
div.right{
    display: flex;
    flex-direction: column;
    padding: 0;
}
div.social{
    margin-left: -55px;
    margin-bottom: 20px;
}
div.social a{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    padding-right: 5px;
}

div.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    max-width: 100%;
    margin: 10px;
}
div.card{
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #bdbdbd;
    margin-bottom: 1.5rem;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
    width: 300px;
    
}
/* div.social-media{
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
} */
.box {
    flex: 50%;
    float: left;
    margin-top: 20px;
    padding-left: 5px;
}
form{

    width: 100%;
    padding: 0px 10px;
    box-shadow: 0 0 5px 0 hsl(212, 79%, 53%);
    border-radius: 5px;
    height: 530px;
}
.social-media {
    /* margin-left: 80px; */
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 10px;
}
.navbar-toggler {
    padding: .25rem .75rem;
    margin-left: 60px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}
.rounded-pill {
    border-radius: 50rem!important;
    margin-left: 30px;
}
.right {
    flex: 60%;
    float: left;
    padding: 90px;
}
.identity{
    margin-top: 20px;
}
.content-title{
    font-size: 30px;
}
}